# dosya adını .env yapıp değerleri herkes kendine göre dolduracak

# Veritabanı Genel Ayarlar
DB_NAME=sustainable_market
DB_ROOT_PASSWORD=root_sifresi_123
DB_USER=std
DB_PASSWORD=std_sifresi_456

# Port Ayarları
DB_EXTERNAL_PORT=3307
PMA_PORT=8081
APP_PORT=3000