<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>TEST END-POINTS</h2>
    <li><a href="/market/dashboard">Dashboard</a></li>
    <li><a href="/main">Consumer Page</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register Page</a></li>
</body>
</html>